.container {
  max-width: 11rem;
  margin: 5rem auto;
  padding: 1rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
}
.conroler {
  width: 100%;
  padding: 0.5rem 0;
}
.all {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.178);
}
input[type="checkbox"] {
  margin: 0.5rem 0.2rem;
}
input[type="text"] {
  padding: 0.5rem 0.2rem;
}
